@import './variables.scss';

body {
  font-family: sans-serif;
  background-color: #fafafa;
  margin: 0;
  padding: 1rem;
}

nav {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;

  a {
    text-decoration: none;
    color: #00c8b3;
    font-weight: bold;
  }
}
