$font-default: #efeeed;
$font-focus: #333333;
$border-color: #efeeed;
$font-invalid: #eb4a46;
$border-invalid: #eb4a46;
$btn-bg: #00c8b3;
$btn-hover-opacity: 0.7;
$btn-disabled-font: #dddcdc;
$btn-disabled-bg: #f6f6f6;